__pycache__/
*.py[cod]
*$py.class
*.so

env/
.Python
venv/
hf-tf-llama/

models/
*.h5
*.pt
*.bin
*.safetensors

pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
dist/
build/
*.egg

*.log
*.tmp
*.bak
*.swp

.DS_Store
.AppleDouble
.LSOverride

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

*.cache
pytest_cache/
coverage/
htmlcov/

*.zip
*.tar.gz
*.rar

config/config.yaml
.python-version
